.editable-box {
	margin-left: .5vmax;
	background-color: #333;
	transition: background-color .25s ease;
	border: none;
	position: relative;
	width: 50%;
}

.editable-box.stable {
	background-color: transparent;
	outline: none;
}

.editable-box:focus-visible {
	outline: none;
}