.level-container canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.level-graph-buttons {
	position: fixed;
	top: 2vmax;
	left: 2vmax;
	z-index: 1;
	display: flex;
}

.level-graph-buttons div {
	margin: 1vmax;
	cursor: pointer;
	transition: filter .25s ease;
}

.level-graph-buttons div:hover {
	filter: brightness(80%);
}

.level-graph-buttons img {
	width: 5vmax;
	aspect-ratio: 1/1;
}