
.btn-1 {
    scale: 1;
    /*padding: 0 50px;*/
    width: 160px;
    height: 64px;
    background: #169636;
    color: white;
    border: none;
    border-radius: 32px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: center;
    z-index: 1;
    overflow: hidden;
  }
  
  .btn-1:hover {
    color: black;
  }
  
  .btn-1:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
  }
  
  .btn-1:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .btn-2 {
    scale: 1;
    padding: 0 50px;
    width: 160px;
    height: 64px;
    background: #3754c6;
    color: white;
    border: none;
    border-radius: 32px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: center;
    z-index: 1;
    overflow: hidden;
  }
  
  .btn-2:hover {
    color: black;
  }
  
  .btn-2:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
  }
  
  .btn-2:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .btn-3 {
    scale: 1;
    /*padding: 0 50px;*/
    width: 160px;
    height: 64px;
    background: #e22525;
    color: white;
    border: none;
    border-radius: 32px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: center;
    z-index: 1;
    overflow: hidden;
  }
  
  .btn-3:hover {
    color: black;
  }
  
  .btn-3:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
  }
  
  .btn-3:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }